*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    width: 100vw;
    display: flex;
    font-weight: 700;
}

.navbar .logo span{
    width: 20vw;
    color: rgb(158, 72, 147);
}

.navbar .main-navbar ul{
    list-style-type: none;
    display: flex;
    width: 80vw;
    justify-content: space-between;
}